body {
  background-color: rgb(207, 214, 208);
}

h1 {
  color: #7a9576;
  font-weight: 100;
}

h2 {
  color: #7a9576;
  /* font-weight: 100; */
}

h4 {
  color: black;
}

h5 {
  margin: 1rem;
}

a {
  margin: 1rem;
}

p {
  font-family: verdana;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

nav a {
  color: #7a9576;
}

nav a:hover {
  color: rgb(14, 48, 5);
  font-family: verdana;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
  width: 15%;
  margin: 1rem;

}

button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid rgb(14, 48, 5);
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  margin: 2rem;
  width: 50%;
  max-width: 500px
}

form > * {
  margin: 1rem;
}

li {
  display: flex;
  align-items: center;
  margin: 2rem;
}

#search {
  margin: 0.5rem;
  width: 25%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(209, 226, 192); */
}

.title {
  margin-bottom: 20px;
}

.home {
  background-image: url('/public/capstone-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .home {
    background-size: contain;
    background-position: center center;
    height: 100vh;
    padding: 0;
  }
}