body {
  background-color: whitesmoke;
}

p {
  font-family: verdana;
}

nav {
  background-color: lightblue;
  padding: 2rem;
  display: flex;
  justify-content: space-around;

}

nav a {
  color: white;
}

nav a:hover {
  color: white;
  font-family: verdana;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
  width: 30%;
  margin: 1rem;

}

button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid lightblue;
  margin: 1rem;
}

button:hover {
  background-color: rgb(132, 211, 237);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  margin: 2rem;

}

form > * {
  margin: 1rem;
}

li {
  display: flex;
  align-items: center;
  margin: 2rem;
}
